/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
}
/* End of Reset */

html {
  --light-blue: #0091ff;
  --black: #000;
  --dark-gray: #181818;
  --light-gray: #555;
  --white: #ccc;
}

body {
  background-color: var(--dark-gray);
  color: var(--white);
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.primary-button {
  background-color: var(--light-blue);
  border: 2px solid white;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
}

dialog::backdrop {
  backdrop-filter: blur(1px);
}

.modal-content {
  background-color: #00000080;
  color: var(--white);
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-title {
  margin-bottom: 1.5rem;
  text-align: center;
}

.modal-content > form {
  background-color: var(--dark-gray);
  border: 1px solid var(--white);
  border-radius: 0.5rem;
  padding: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  justify-items: start;
}

.modal-content input {
  background-color: var(--black);
  border: 1px solid var(--light-gray);
  border-radius: 0.25rem;
  color: var(--white);
}

th,
td {
  border: 1px solid var(--light-gray);
  padding: 0.5rem 0.75rem;
  text-align: left;
}

tr:has(.hover-button):hover td:has(.hover-button) {
  opacity: 1;
}

td:has(.hover-button) {
  border: none;
  height: 100%;
  opacity: 0;
}

.hover-button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-button {
  background-color: #600;
}

.read-toggle-button {
  background-color: #ca0;
}

.button-icon {
  height: 100%;
}

.delete-icon {
  filter:
    /* hack to color the white SVG image red */
    invert(20%) sepia(100%) saturate(10000%);
}

.read-toggle-icon {
  filter:
    /* hack to color the white SVG image black */
    invert(100%);
}
